---
- name: Create fish directory
  ansible.builtin.file:
    dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/.config/fish/"
    state: directory
    mode: '0700'

- name: Copy fish config
  ansible.builtin.copy:
    src: config.fish
    dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/.config/fish/config.fish"
    mode: '0600'

- name: Copy starship config
  ansible.builtin.copy:
    src: starship.toml
    dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/.config/starship.toml"
    mode: '0600'

- name: Create zellij directory
  ansible.builtin.file:
    dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/.config/{{ item }}"
    state: directory
    mode: '0700'
  loop:
    - zellij
    - zellij/layouts

- name: Copy zellij config
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/.config/zellij/{{ item.dest }}"
    mode: '0600'
  loop:
    - {src: config.kdl, dest: config.kdl}
    - {src: default.kdl, dest: layouts/default.kdl}

- name: Configure fish functions
  ansible.builtin.copy:
    src: gitignore/irqoff.fish
    dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/.config/fish/conf.d/"
    mode: '0740'
  when: fish_functions | bool
